# building
build*

#output
out

# editor
.vscode

# ipynb_checkpoints
plots/.ipynb_checkpoints

# timing results
plots/*.npz
plots/*.png
plots/*.nsys-rep
plots/2*

# nsys results
plots/20*

# nsys report
nsysreport

# doc
doc

# test
test
